.container {
  background-color: #ebebeb;
}
.biggar-icon {
  width: 2rem;
  height: 2rem;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
}
.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
