.index-container .header {
  position: relative;
  height: 10rem;
  background: #4688f4 url(../images/header-bg.jpg) repeat-x;
  text-align: center;
  line-height: 10rem;
}
.index-container .header .title {
  font-size: 16px;
  color: #fff;
}
.index-container .header .header-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.index-container .header .header-nav .nav-item {
  height: 40px;
  line-height: 40px;
  font-size: 0.8rem;
  color: #fff;
  padding: 0 10px;
}
