* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	background-color: #ddd;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
/*导航栏 begin*/

.header {
	height: 80px;
	background-color: #2d2d2d;
}
.nav_bar {
	margin: 0 auto;
	width: 980px;
	height: 80px;
	/*background-color: #ccc;*/
}
.nav_bar ul li {
	list-style-type: none;
	float: left;
	height: 80px;
	line-height: 80px;
	text-align: center;
	width: 180px;
}
.nav_bar ul li a {
	display: inline-block;
	width: 180px;
	height: 80px;
	text-decoration: none;
	color: #ccc;
	font-size: 22px;
	transition: 0.5s;
}
.nav_bar ul li a:hover {
	color: #333;
	background-color: #ccc;
	transform: scale(1.2);
}

/*导航栏 end*/

/*主内容区 begin*/


.content {
	width: 980px;
	margin: 0 auto;
	margin-top: 20px;
}
.article {
	height: 470px;
	background-color: #fff;
	padding-top: 20px;
	border-right: 4px solid #ccc;
	border-bottom: 4px solid #ccc;
	margin-top: 10px;
	transition: 0.5S
}
.article:hover {
	transform: scale(1.02);
}
.article .details {
	margin-left: 20px;
}
h3 {
	font-size: 
}
h3, h4, p.celler{
	margin: 0px 0 10px;
}
.details p {
	line-height: 1.8em;
	margin-right: 22px;

}
.details p img {
	width: 500px;
	height: 280px;
	float: left;
	margin: 5px 10px 5px 0;
}
/*.album {
	position: relative;
}*/
.details .songs {
	/*position: absolute;*/
	background-color: #999;
	float: right;
	margin-right: 20px;
	text-align: center;
	/*top: 0;
	right: 20px;*/
}
.details .songs a {
	display: inline-block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #333;
	font-size: 24px;
	padding: 20px;
}
.details .songs a:hover {
	background-color: skyblue;
	color: #eee;
}
.hot {
	background-color: #ccc;
	width: 980px;
	height: 320px;
	margin: 0 auto;
	margin-top: 10px;
}
.hot .pro {
	width: 300px;
	height: 300px;
	position: relative;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	transition: 0.5s;
}
.hot .pro img {
	width: 300px;
	height: 300px;
}
.hot .pro:hover {
	transform: scale(1.1);
}
.hot .instr {
	background-color: rgba(0,0,0,0.6);
	width: 300px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: center;
	color: #aaa;
}

/*底部栏 begin*/

.footer {
	overflow: hidden;
	margin-top: 20px;
	height: 300px;
	background-color: #2D2D2D;
	background-image: url(images/foot_bg.png) repeat-x;
}
.items {
	width: 980px;
	margin: 0 auto;
}
.items dl {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}
.items dl:first-child {
	margin-left: 20px;
}
.items dl dt {
	margin-bottom: 20px;
}
.items dl dt a {
	font-size: 16px;
	color: #ccc;
}
.items dl dd {
	margin-top: 4px;
}
.items dl dd a {
	color: #a0a0a0;
	font-size: 12px;
}
.items img {
	float: right;
	transition: 0.5s;
}
.items img:hover {
	transform: scale(1.2);
}





