#music-index-container {
  background-color: #fff;
}
#music-index-container .music-index-tab {
  display: flex;
  background-color: #e3453a;
  height: 10rem;
}
#music-index-container .music-index-tab .tab-item {
  flex: 1;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.8rem;
  color: #fff;
}
#music-index-container .banner {
  overflow: hidden;
  width: 95%;
  height: 10rem;
  margin: -7rem auto 0;
  border-radius: 5px;
}
